# Server
# Types -> development | production | local
NODE_ENV=local
HOST=0.0.0.0
PORT=3002

# DEBUG (false for production)
DEBUG=true

# Graceful Shutdown (false for production)
SKIP_GRACEFUL=false

# Observability (false for production)
LOG_PRETTY=true

# List All Routes on console
SHOW_ROUTES=false

# File Log to Local Development
FILE_LOG=false

# Auth (Better AUTH)
BETTER_AUTH_SECRET=32-length
BETTER_AUTH_URL=http://localhost:3002
ORIGIN_ALLOWED=http://localhost:3000,http://localhost:3001

# Email
SMTP_HOST=""
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""

# Redis Cache
REDIS_URL="redis://default:genergia_redis@localhost:6379"

# DB (PostgreSQL)
DRIZZLE_SQL_LOGS=false
DATABASE_URL="postgresql://genergia_user:genergia_password@db-pg:5432/genergia_dashboard"

# Timezone (IANA timezone database format)
# Examples: America/Sao_Paulo, America/New_York, Europe/London, UTC
# See: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ="America/Sao_Paulo"
